name: bookstore

services:
  postgres:
    image: postgres:16-alpine
    container_name: bookstore_db
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5434:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - bookstore_network
    restart: unless-stopped

  api:
    build: .
    container_name: bookstore_api
    environment:
      NODE_ENV: ${NODE_ENV:-development}
      PORT: ${PORT:-3000}
      DB_HOST: postgres
      DB_PORT: ${DB_PORT:-5432}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      UPLOAD_PATH: /app/uploads
    ports:
      - "3000:3000"
    volumes:
      - ./uploads:/app/uploads
    depends_on:
      postgres:
        condition: service_started
    networks:
      - bookstore_network
    restart: unless-stopped
    command: sh -c "sleep 10 && npm run migration:run && npm start"

volumes:
  postgres_data:

networks:
  bookstore_network:
    driver: bridge